/* body {
  background: #F4EEED;
  color: #263959;
} */
svg g {
  fill: #6d819c;
}
svg g polygon {
  stroke: #263959;
  stroke-width: 0.2;
}
.grid {
  height: 140%;
  width: 115%;
  margin-top: -40px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  padding: 0;
}